---
import Header from '../components/layout/Header.astro';
import SidebarToggle from '../components/ui/SidebarToggle';
import BaseLayout from '../layouts/BaseLayout.astro';
import { WeekCard } from '../components/ui/WeekCard.jsx';
---

<BaseLayout title="Dashboard | Inicio">
  <!-- Solo mobile: Botón hamburguesa y Sidebar slide-in -->
  <SidebarToggle client:load />
  
  <!-- Header visible para todas las vistas -->
  <Header class="animate-fade-in" />
  
  <div class="p-4 space-y-4">
    <WeekCard title="Semana 1" days={["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sabado"]} />
  </div>
