---
import Sidebar from '../components/Sidebar.jsx';
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-slate-900 text-white dark:bg-white dark:text-slate-900 min-h-screen w-full flex">
    <!-- Sidebar solo para escritorio -->
    <div class="hidden md:block">
      <Sidebar isOpen={true} onClose={() => {}} />
    </div>

    <!-- Main content -->
    <main class="w-full max-w-7xl mx-auto px-4 md:px-8">
      <slot />
    </main>

    <script>
      if (localStorage.getItem('theme') === 'dark') {
        document.documentElement.classList.add('dark');
      }
      else {
        document.documentElement.classList.remove('dark');
      }
    </script>

  </body>
</html>

